@tailwind base;
@tailwind components;
@tailwind utilities;

iframe[seamless] {
  border: none;
}

nav .active {
  @apply text-indigo-600 font-semibold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
